<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link href="{% static 'front/css/style_index.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navi">
      <input type='text' placeholder='Name' class='searchinput'>
      <input type='text' placeholder='Middle Name' class='searchinput'>
      <input type='text' placeholder='Family Name' class='searchinput'>
      <input type='text' placeholder='City' class='searchinput'>
      <input type='text' placeholder='State' class='searchinput'>
      <button type="button" class="navbutton" st>FIND</button>
    </nav>
  </body>
</html>
